.venv
.git
.gitignore
.github
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.vscode
.idea
*.md
!README.md
.env
.env.local
.env.*.local
TZ.md
.mypy_cache
.ruff_cache
htmlcov
.coverage
locustfile.py
load_tests
